@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <span class="brand">
        Esta Política de Privacidade explica como coletamos, utilizamos e protegemos os dados pessoais dos usuários, em conformidade com a Lei Geral de Proteção de Dados (Lei nº 13.709/2018). Ao utilizar nossos serviços, você concorda com estes termos.

        Coletamos informações pessoais fornecidas pelo usuário, como nome, e-mail, telefone e endereço, além de dados de navegação, como IP, tipo de navegador, páginas acessadas e tempo de uso. Também utilizamos cookies para melhorar a experiência e personalizar conteúdos.

        Os dados são tratados com base em fundamentos legais, como consentimento, cumprimento de obrigações legais, execução de contratos e legítimo interesse. Utilizamos essas informações para melhorar nossos serviços, personalizar a experiência do usuário e, quando autorizado, enviar comunicações.

        Seus dados não são compartilhados com terceiros, exceto quando exigido por lei, com parceiros sob confidencialidade ou mediante seu consentimento.

        Adotamos medidas de segurança para proteger suas informações. O usuário pode acessar, corrigir ou excluir seus dados, além de revogar o consentimento a qualquer momento.

        Os dados serão armazenados apenas pelo tempo necessário para cumprir suas finalidades ou conforme exigido por lei. Esta política pode ser atualizada periodicamente.

        Em caso de dúvidas, entre em contato pelo e-mail: privacidade@HaceAlMonje.com
        .

        Última atualização: 2026
    </span>
</p>